 
h2 {
  text-indent: 330px;
  font-family: 'fantasy';
  color: lavenderblush;
}

h1 {
  text-indent: 50px;
  font-family: 'fantasy';
  color: snow;
  margin-bottom: 300px;
}

p {
 text-indent: 350px;
 margin-bottom: 50px;
}

form {
 margin-left: 400px;
 margin-bottom: 50px;
}

html, body {
margin:0;
padding:0;
width:100%;
height:100%;
overflow:hidden;
}
body {
font-family:sans-serif;
}
#hintergrund {
position:absolute;
width:100%;
height:100%;
z-index:1;
}
#scrollbereich {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
overflow:auto;
z-index:2;
}
#inhalt {
padding:20px 100px 30px 200px;
z-index:2;
}
